<!-- Page Content -->
<div id="page-content-wrapper">
  <div class="container-fluid">

    <div id="wrapper" [class.toggled]="isVisible">

      <!-- Sidebar -->
      <div id="sidebar-wrapper">
        <info></info>

      </div>

    </div>
    <!--  / /#sidebar-wrapper -->

    <nav class="navbar navbar-default navbar-fixed-top" id="nav-menu">
      <div class="container-fluid">
        <!--  <ul class="nav navbar-nav">
            <li class="active menu-item"><a href="#">Home</a></li>
            <li class="menu-item"><a href="#">Link</a></li>
            <li class="menu-item"><a href="#">Link</a></li>
          </ul>-->
        <button class="btn btn-default" id="menu-toggle" (click)="isVisible = !isVisible;" id="toggle-btn">
          <span class="glyphicon glyphicon-menu-hamburger"></span>

        </button>
      </div>
    </nav>

    <div class="inner-container">
      <router-outlet>
      </router-outlet>

    </div>

  </div>

</div>
