<!-- Page Content -->
<div id="page-content-wrapper">
  <div class="container-fluid">

    <div id="wrapper" [class.toggled]="isVisible">

      <!-- Sidebar -->
      <div id="sidebar-wrapper">
        <info></info>

      </div>

    </div>
    <!--  / /#sidebar-wrapper -->

    <nav class="navbar navbar-default navbar-fixed-top" id="nav-menu">
      <div class="container-fluid">
        <div *ngIf="loggedIn()">
        <ul class="nav navbar-nav navbar-right">
          <li><span class="glyphicon glyphicon-stats light-gold glif-shadow"></span> <span class="font-20">{{user.xp}}</span> <span>xp </span></li>
          <li> <span>Level</span> <span class="font-20">{{user.level}}</span></li>
        </ul>

        </div>
        <a  (click)="isVisible = !isVisible;" id="toggle-btn" *ngIf="loggedIn()">
          <span class="glyphicon glyphicon-menu-hamburger"></span>

        </a>
      </div>
    </nav>

    <div class="inner-container">
      <router-outlet>
      </router-outlet>

    </div>

  </div>

</div>
