.choice-container{
  padding: 3px 3px 3px 18px;
  font-size: large;
}

.choice-container .radio label{
  padding-left: 10px !important;
  color: black;
 /* //word-break: break-all;*/
}

.text-q{
  padding: 0px 5px 15px 0px;
  color: black;

  font-family: 'Nunito Sans', sans-serif;
}

.small-padding{
  padding:  0px 5px 10px 5px
}

.question-type-tag{
  font-size: large;
  margin-bottom: 0px;
  padding-left: 0px;

  padding-bottom: 0px;
}

.q-type-purple{
  color: #765C91;
}

.type-tag-container{
  border-radius: 9px 9px 9px 9px;
  -moz-border-radius: 9px 9px 9px 9px;
  -webkit-border-radius: 9px 9px 9px 9px;
  border: 0px solid #000000;
}


/**
colors
 */

.light-purple{
  color: #BFB3CB;
}

.smaller-font{
  font-size: 16px;
}

.larger-font{
  font-size: 14px;
}

.white{
  color: white;
}

.glif-shadow {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.light-gold{
  color: #F8F5B9;
}

.bolder{
  font-weight: 600;
  font-size: 18px;
}

.correct-green{
  color: #72892D;
}

.correct-lightgreen{
  color: #BBCD7D;
}

.incorrect-red{
  color: #D05C73;
}



.incorrect-lightred{
  color: #EF8EA1;
}

.q-btn{
  position: fixed;
  left: 0px;
  bottom: 0px;
  margin-bottom: 0px;
  width: 100%;
  padding: 10px;
}

.black{
  color: black;
}

.spacing{
  padding-right: 10px;
}

.dark-grey{
  color: rgba(0, 0, 0, 0.83);
  font-family: 'Aldrich', sans-serif;
}


.panel-shadow{
  box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.29);
}


.glif-margin{
  margin: 6px 0px;
}
