<div *ngIf="loggedIn()">

<ul class="sidebar-nav white">

  <li class="sidebar-brand" id="profile-bar">

    <img src="assets/img/chars/{{user.rank.path}}" class="img-circle profile-pic" alt="profile">  <span class="username">{{user.username}}</span>
  </li>
  <hr class="no-bottom-margin no-top-margin white">

  <li class="dark-li">
    <span class="larger">XP until next Level: </span> <span class="font-20"><strong>{{user.xpTilLvl}}</strong></span>
  </li>

  <li class="dark-li">
    <span class="larger">Rank: </span><span id="rank-span">{{user.rank.name}}</span>
  </li>

  <hr class="no-bottom-margin no-top-margin white">
  <li class="sidebar-brand">
    <a [routerLink]="['/home']" class="white">Home</a>
  </li>
<li>
    <input type="button" class="btn side-btn no-left-padding lighter-color" (click)="logout();" value="Logout">
  </li>
<!--  <li>
    <a href="#">Overview</a>
  </li>
  <li>
    <a href="#">Events</a>
  </li>
  <li>
    <a href="#">About</a>
  </li>
  <li>
    <a href="#">Services</a>
  </li>
  <li>
    <a href="#">Contact</a>
  </li>-->
</ul>

</div>
