<div *ngIf="loggedIn()">

<ul class="sidebar-nav white">

  <li class="sidebar-brand">

    <span class="username">{{user.username}}</span>
  </li>
  <hr class="no-bottom-margin no-top-margin white">

  <li>
    <span class="larger"><strong >XP until next Level: </strong></span> <span class="font-20"><strong>{{user.xpTilLvl}}</strong></span>
  </li>

  <li>
    <span class="larger">Rank: {{user.rank}}</span>
  </li>

  <hr class="no-bottom-margin no-top-margin white">
  <li class="sidebar-brand">
    <a [routerLink]="['/home']" class="white">Home</a>
  </li>
<li>
    <input type="button" class="btn side-btn no-left-padding lighter-color" (click)="logout();" value="Logout">
  </li>
<!--  <li>
    <a href="#">Overview</a>
  </li>
  <li>
    <a href="#">Events</a>
  </li>
  <li>
    <a href="#">About</a>
  </li>
  <li>
    <a href="#">Services</a>
  </li>
  <li>
    <a href="#">Contact</a>
  </li>-->
</ul>

</div>
