/* You can add global styles to this file, and also import other style files */


.padding-md-top{
  padding-top: 10px;
}

.padding-md-bottom{
  padding-bottom: 10px;
}


.error{
  color: red;
}

.correct{
  color: #2e6da4;
}


.large-font{
  font-size: large;
}



.no-top-margin{
  margin-top: 0px;
}

.no-bottom-margin{
  margin-bottom: 0px;
}
