/* You can add global styles to this file, and also import other style files */


body{
  font-family: 'Nunito Sans', sans-serif;
}

.padding-md-top{
  padding-top: 10px;
}

.padding-md-bottom{
  padding-bottom: 10px;
}


.error{
  color: red;
}

.correct{
  color: #2e6da4;
}


.large-font{
  font-size: large;
}



.no-top-margin{
  margin-top: 0px;
}

.no-bottom-margin{
  margin-bottom: 0px;
}

.side-btn{
  background-color: #000;
  color: white;
}


.lighter-color{
  color: #afabab;
}

.white{
  color: white;
}

.grey{
  border-top-color: #1E0246;
}


.md-top-paddding{
  padding-top: 18px;
}

.light-grey{
  color: #b3b3b3;
}

.no-left-padding{
  padding-left: 0px;
}


.medium-font{
  font-size: medium;
}


@media only screen and (min-width: 500px){
  body{
    padding-top: 30px;
  }
}


.light-gold{
  color: #F8F5B9;
}

.glif-shadow {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.font-20{
  font-size: 20px;
}

span.glyphicon.glyphicon-menu-hamburger{
  padding-top: 8px;
}
