<!--<div class="col-md-12 col-sm-12 col-lg-12"><h4>1. Question 1 ?</h4>

    <div class="form-group">
        &lt;!&ndash;<label class="col-md-2 control-label">Radios</label>&ndash;&gt;

        <div class="col-md-10">
            &lt;!&ndash;    <div class="radio radio-primary">&ndash;&gt;
            &lt;!&ndash;<label>&ndash;&gt;
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
            Option one is this
            &lt;!&ndash; </label>&ndash;&gt;
        </div>
        &lt;!&ndash;div class="radio radio-primary">
            <label>&ndash;&gt;

        <div class="col-md-10">
            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
            Option two can be something else
            &lt;!&ndash;  </label>&ndash;&gt;
        </div>
    </div>
</div>-->


<h3>Test</h3>

<form ng-submit="submit()">

<div class="col-md-12 col-sm-12 col-lg-12" ng-repeat="q in questions"><h4>{{q.questionText}}</h4>

    <div class="form-group">
        <!--<label class="col-md-2 control-label">Radios</label>-->

        <div class="col-md-10"  ng-repeat="c in q.currentChoices">
            <!--    <div class="radio radio-primary">-->
            <!--<label>-->
            <input type="radio" name="optionsRadios{{q.id}}"  ng-model="q.selectedChoice" ng-value="c" ng-change="check(q)">
            {{c.choiceText}}
            <!-- </label>-->
        </div>

       <!-- -->
    </div>


</div>





    <div class="col-md-12 col-sm-12 col-lg-12" ng-show="showHelpers" ng-repeat="hq in helperQuestions"><h4>{{hq.questionText}}</h4>


        <div class="form-group">
            <!--<label class="col-md-2 control-label">Radios</label>-->

            <div class="col-md-10"  ng-repeat="c in hq.currentChoices">
                <!--    <div class="radio radio-primary">-->
                <!--<label>-->
                <input type="radio" name="optionsRadios{{q.id}}"  ng-model="hq.selectedChoice" ng-value="c" ng-change="check(hq)">
                {{c.choiceText}}
                <!-- </label>-->
            </div>

            <!-- -->
        </div>


    </div>

    <input type="submit" value="Submit">

    {{myTxt}} opt: {{q.selectedChoice}}

</form>